[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
trimesh = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
langchain-core = "*"
genesis-world = "*"
fastapi = "*"
uvicorn = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
